<a href="https://colab.research.google.com/github/yash-sankle/test-repo-colab/blob/main/return_n_colums.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import sqlite3


conn = sqlite3.connect('northwind.db')
cur = conn.cursor()

cur.execute('''SELECT firstname, lastname, title,city FROM employee''')

rows = cur.fetchall()
for row in rows:
  print(row)

conn.close()

('Nancy', 'Davolio', 'Sales Representative', 'Seattle')
('Andrew', 'Fuller', 'Vice President, Sales', 'Tacoma')
('Janet', 'Leverling', 'Sales Representative', 'Kirkland')
('Margaret', 'Peacock', 'Sales Representative', 'Redmond')
('Steven', 'Buchanan', 'Sales Manager', 'London')
('Michael', 'Suyama', 'Sales Representative', 'London')
('Robert', 'King', 'Sales Representative', 'London')
('Laura', 'Callahan', 'Inside Sales Coordinator', 'Seattle')
('Anne', 'Dodsworth', 'Sales Representative', 'London')